---
import Layout from "../layouts/Layout.astro";
import MySocialDetails from "../components/MySocialDetails.astro";
import MyIntro from "../components/MyIntro.astro";
import MyTechStack from "../components/MyTechStack.astro";
import ContactMe from "../components/ContactMe.astro";
---

<Layout title="About Me">
	<MySocialDetails />
	<div class="grid grid-cols-1 md:grid-cols-3">
		<div class="md:col-span-2 md:pr-3 md:mt-2 md:border-r border-black">
			<MyIntro />
		</div>
		<div class="md:col-span-1 md:pl-3 md:mt-2">
			<MyTechStack />
			<ContactMe />
		</div>
	</div>
</Layout>
