---
const lastUpdatedDay = "Sunday";
const lastUpdatedDate = "9 June";
const lastUpdatedYear = "2024";
---

<div
	class="text-end text-xs md:text-base font-sub-heading font-regular tracking-tight !leading-tight mb-1"
>
	<span class="text-[10px] md:text-xs font-bold font-other tracking-normal"
		>LAST UPDATED ON</span
	>
	<br />
	<span>{lastUpdatedDay}</span><span class="font-semibold"
		>, {lastUpdatedDate},
	</span><span>{lastUpdatedYear}</span>
</div>
