---
import { Icon } from "astro-icon/components";

const pagesDetails: Record<number, string> = {
	1: "/",
	2: "/projects",
};

interface Props {
	index: number;
}
console.log("pagesDetails", pagesDetails[0]);

const { index } = Astro.props;
---

<div class="flex justify-center items-center gap-1 mt-1 md:mt-2">
	{
		pagesDetails[index - 1] ? (
			<a href={pagesDetails[index - 1]}>
				<Icon name="chevron-left" class="w-4 h-4 cursor-pointer" />
			</a>
		) : (
			<Icon name="chevron-left" class="w-4 h-4 cursor-not-allowed" />
		)
	}

	<p class="text-xs bg-white px-2 py-1 rounded-sm">{index}</p>
	{
		pagesDetails[index + 1] ? (
			<a href={pagesDetails[index + 1]}>
				<Icon name="chevron-right" class="w-4 h-4 cursor-pointer" />
			</a>
		) : (
			<Icon name="chevron-right" class="w-4 h-4 cursor-not-allowed" />
		)
	}
</div>
